@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2 class="display-4">To-Do List</h2>
    <ul>
        <li>Take care that decimal is converted to money in the database. Or something of the sort.</li>
        <li>See if we can add more data validations.</li>
        <li>Fix validaton error messages.</li>
    </ul>
</div>
