@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2 class="display-4">To-Do List</h2>
    <ul>
        <li>Take care that decimal is converted to money in the database. Or something of the sort.</li>
        <li>See if we can add more data validations.</li>
        <li>Fix validaton error messages.</li>
    </ul>
</div>


<div class="d-flex justify-content-center" style="width: 20%; margin: auto">
    <input class="btn btn-primary" type="submit" value="1">
    <input class="btn btn-primary" type="submit" value="2">
    <input class="btn btn-primary" type="submit" value="3">
    <input class="btn btn-primary" type="submit" value="4">
</div>